body{
margin: 0px;
}

.headerSection{
   background-color:blue;
    margin-top: 0px;
    margin-bottom: 0px;
     padding: 10px;

}
.headerSection a{
      text-decoration: none;
}
.headerSection h1{
   margin-top: 0px;
    margin-bottom: 0px;
}
.selling {
  display: inline;
}

.buying {
  display: inline;

}
 .table__ads,.table__messages,.table__ads th,.table__ads table td , .table__messages table td, .table__messages th {
  border: 1px solid black;
}
.listPhotos li{
	display: inline-block;
}

.table__ads .table__ads--description{
  width: 30%;
}

.table__ads,.table__messages{
  display: inline-block;
}
.table__ads img{
  width: 300;
  height: 300;
}
.table__ads{
  margin-right: 20px;
}

