body{
margin: 0px;
}
.headerSection{
   background-color:blue;
    margin-top: 0px;
    margin-bottom: 0px;
        padding: 10px;
}
.headerSection a{
              text-decoration: none;
}

.headerSection h1{
   margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.selling {
  display: inline;
}


.headerSection #headerSection__about__myProfile,.headerSection #headerSection__about__login{
	    display: inline-block;
	    text-align: right;
      padding-left: 20px;

}
.headerSection #headerSection__about__myProfile p,.headerSection #headerSection__about__login p{
	    display: inline-block;
color: black;
  font-size: 30px;
}
.headerSection #headerSection__createAd{
      display: inline-block;
      text-align: right;
}
.headerSection #headerSection__createAd p{
      display: inline-block;
color: black;
  font-size: 30px;
}
.headerSection__table,.headerSection__table th, .headerSection__table td {
  border: 5px solid black;
}
.headerSection__table{
        display: inline-block;
       margin-left: 900px;
      background: green;
      
}
.headerSection__table p{
      background: pink;
}

.loginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Crucial for centering the form itself */
    padding: 20px;
    background-color:yellow;

    display: flex; /* Make the form a flex container */
    flex-direction: column; /* Stack items vertically */
    align-items: start; /* Center items horizontally across the main axis */
}
.loginForm input{
  padding: 5px;
  margin:2px;
background-color: orange;
}

